@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.nav {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    &__item {
        list-style: none;
        @include font-styling(600, $White);

    }
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
}