@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.learn {
    &__moves {
        display: inline-block;
        margin-bottom: 2rem;
        padding: 10px;
        border: 1px solid;
        text-align: center;
        background: #eee
    }
    
    @media screen and (min-width: 26.875em) {
        &__moves {
            margin-left:3rem;
            padding: 15px
        }
    }
    
    &__moves img {
        display: block;
        margin: 0 auto 10px
    }
    
    &__moves div {
        margin-top: 15px
    }
    
    &__moves .roofpig {
        margin-top: 0;
        padding: 10px 0
    }
    
    &__moves .roofpig canvas {
        width: 150px!important;
        height: 150px!important
    }
    
    &__moves a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 7px;
        border: 1px solid;
        color: inherit;
        line-height: 40px;
        text-align: center;
        background: #fff
    }
    
    @media screen and (min-width: 23.75em) {
        &__moves a {
            margin-right:12px
        }
    }
    
    @media print,screen and (min-width: 43.75em) {
        &__moves a:hover {
            border-color:#3d91b0;
            color: #3d91b0
        }
    }
    
    &__moves a:last-of-type {
        margin: 0
    }
    
    &__moves a.active {
        border-color: #3d91b0;
        color: #fff;
        background: #3d91b0
    }
    
    &__moves button {
        margin: 15px 0 0
    }

}

