@import './mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    background-color: $Light-Grey;

    @include font-styling(300, $Black);

    a {
        text-decoration: none;
        color: $Black;
    }

    ul {
        list-style-type: none;
    }

    li {
        list-style-type: none;

        @include format-text(1.25rem, 1rem, 300);

        @include tablet {
            @include format-text(1.25rem, 1rem, 300);
        }

        @include desktop {
            @include format-text(1.25rem, 1rem, 300);
        }
    }

    h1 {
        @include format-text(4.5rem, 3.5rem, 800);

        @include tablet {
            @include format-text(5rem, 4rem, 800);
        }

        @include desktop {
            @include format-text(5rem, 4rem, 800);
        }
    }

    h2 {
        @include format-text(1.75rem, 1.25rem, 700);

        @include tablet {
            @include format-text(2rem, 1.5rem, 700);
        }

        @include desktop {
            @include format-text(2rem, 1.5rem, 700);
        }
    }

    h3 {
        @include format-text(1.75rem, 1rem, 300);

        @include tablet {
            @include format-text(1.75rem, 1.25rem, 600);
        }

        @include desktop {
            @include format-text(1.75rem, 1.25rem, 600);
        }
    }

    h4 {
        color: $Slate;
        @include format-text(1rem, 0.6875rem, 600);

        @include tablet {
            @include format-text(1.125rem, 0.75rem, 300);
        }

        @include desktop {
            @include format-text(1.125rem, 0.75rem, 300);
        }
    }

    p1 {
        @include format-text(1.625rem, 0.9375rem, 300);

        @include tablet {
            @include format-text(1.75rem, 1rem, 300);
        }

        @include desktop {
            @include format-text(1.75rem, 1rem, 300);
        }
    }

    p2 {
        @include format-text(1.25rem, 0.8125rem, 200);

        @include tablet {
            @include format-text(1.375rem, 0.875rem, 200);
        }

        @include desktop {
            @include format-text(1.375rem, 0.875rem, 200);
        }
    }

    p3 {
        @include format-text(1rem, 0.6875rem, 100);

        @include tablet {
            @include format-text(1.125rem, 0.75rem, 200);
        }

        @include desktop {
            @include format-text(1.125rem, 0.75rem, 200);
        }
    }

    label {
        @include font-styling(600, $Slate);

        padding: 0;
        margin-bottom: 0.25rem;

        @include format-text(1.25rem, 0.8125rem, 600);

        @include tablet {
            @include format-text(1.375rem, 0.875rem, 600);
        }

        @include desktop {
            @include format-text(1.375rem, 0.875rem, 600);
        }
    }

    button {
        background-color: $Black;
        display: block;
        border: none;
        border-radius: 0.5rem;
        text-transform: capitalize;
        padding: 0;
        margin: 0;
        cursor: pointer;
        @include font-styling(300, $White);

        @include format-text(1.25rem, 0.8125rem, 600);
        height: 2.5rem;
        width: 100%;
        flex-grow: 1;

        @include tablet {
            @include format-text(1.375rem, 0.875rem, 600);
            height: 3rem;
            width: 12rem;
            flex-grow: 0;
        }

        @include desktop {
            @include format-text(1.375rem, 0.875rem, 600);
            height: 3rem;
            width: 12rem;
        }

        &:hover {
            outline: 2px solid $White;
            outline-offset: -5px;
            transition: all ease-in-out 0.2s;
        }
    }

    input,
    textarea,
    select {
        @include font-styling(300, $Black);
        background-color: $White;
        border: 0.0625rem solid $Cloud;
        border-radius: 1.25rem;

        min-width: 15rem;
        height: 2.25rem;

        padding: 1rem;

        @include tablet {
            height: 2.375rem;
            padding: 0.75rem 1rem;
        }

        @include desktop {
            height: 2.375rem;
            padding: 0.75rem 1rem;
        }

        &::placeholder {
            @include font-styling(300, $Slate);
            padding: 0;

            @include format-text(1rem, 0.8125rem, 300);

            @include tablet {
                @include format-text(1rem, 0.875rem, 300);
            }

            @include desktop {
                @include format-text(1rem, 0.875rem, 300);
            }
        }

        &:focus {
            outline: none;
            border: 0.0625rem solid $Blue;
        }

        &.invalid {
            outline: none;
            // border: 0.0625rem solid $Red;

        }
    }
}