// Breakpoints
$desktop-break: 1280px;
$tablet-break: 768px;
$mobile-break: 320px;

// Colors
$White: #FFFFFF;
$Black: #000000;
$Green: #68E13E;
$Blue: #371BE3;
$Red: #E33E1B;
$Yellow: #E3C01B;

// Secondary colors
$Slate: #5C667E;
$Cloud: #BDC5D5;

// Background colors
$Graphite: #232940;
$Light-Grey: #F7F8F9;