@use '../../styles/partials/global';
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.header {
    height: 10vh;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        padding: 0 2rem;
    }

    @include desktop {
        padding: 0 10vw;
    }

    &__logo {
        font-size: 4rem;
        @include font-styling(900, $Black);
        text-decoration: none;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    &__item {
        @include font-styling(600, $Black);
    }
}